
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #333333; FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: #ffffff
}
BODY#popup {
	BACKGROUND-COLOR: #a5b1d3
}
BODY.olsHelp {
	BACKGROUND-COLOR: #476ba2
}
BODY.ftHelp {
	BACKGROUND-COLOR: #798bb5
}
BODY.smHelp {
	BACKGROUND-COLOR: #999999
}
BODY#popup P {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 10px
}
TABLE.mb {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #a5b1d3
}
TABLE.mb TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
TABLE.mb TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #333333; PADDING-TOP: 5px; BACKGROUND-COLOR: #e8e8e8; TEXT-ALIGN: center
}
TH.sugg {
	COLOR: #ffffff; BACKGROUND-COLOR: #476ba2; TEXT-ALIGN: center
}
TABLE.mb TABLE TH.blank {
	WIDTH: 25px; BACKGROUND-COLOR: #bfc9e0; TEXT-ALIGN: center
}
TABLE.mb TABLE TD.mb {
	BACKGROUND-COLOR: #bfc9e0; TEXT-ALIGN: center
}
TABLE.mb TABLE TD.cat {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TABLE.formatting_whole {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; cell-spacing: 0; cell-padding: 0
}
TABLE.standard {
	BORDER-COLLAPSE: collapse; cell-spacing: 0; cell-padding: 0
}
H5 {
	MARGIN-TOP: 5px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; BORDER-BOTTOM: #333333 1px dotted
}
DIV.bup {
	PADDING-LEFT: 10px; FONT-SIZE: 10px
}
DIV.bup DIV {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN-LEFT: 5px; WIDTH: 45%; PADDING-TOP: 10px; BACKGROUND-COLOR: #e8e8e8; TEXT-ALIGN: center
}
DIV#pleaseWaitDiv {
	DISPLAY: none
}
TABLE.budget {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #a5b1d3
}
TABLE.budget TD.calcEst {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; WIDTH: 60%; PADDING-TOP: 8px; BACKGROUND-COLOR: #e8e8e8
}
TABLE.budget TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; COLOR: #336699; PADDING-TOP: 8px; BACKGROUND-COLOR: #e8e8e8; TEXT-ALIGN: center
}
TABLE.budget TD.wc {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TABLE.budget TD.mc {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #ff6633; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.minBudget {
	LEFT: 205px; PADDING-TOP: 4px; POSITION: relative
}
.clsAction {
	WIDTH: 100%
}
UNKNOWN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #336699; PADDING-TOP: 5px; BACKGROUND-COLOR: #e8e8e8; TEXT-ALIGN: center
}
DIV {
	FONT-SIZE: 10px; FONT-FAMILY: verdana,sans-serif
}
TD {
	FONT-SIZE: 10px; FONT-FAMILY: verdana,sans-serif
}
#header {
	BACKGROUND-COLOR: #bfc9e0
}
#top_bar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; HEIGHT: 30px; BACKGROUND-COLOR: #a1b2d1; TEXT-ALIGN: right
}
#user_name {
	PADDING-RIGHT: 30px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; PADDING-TOP: 10px
}
#dtc_img {
	FLOAT: left; TEXT-ALIGN: right
}
#logo_bar {
	HEIGHT: 65px; TEXT-ALIGN: right
}
#acct_pd {
	PADDING-LEFT: 10px; FLOAT: left; PADDING-TOP: 15px; TEXT-ALIGN: left
}
#lo_but {
	BORDER-RIGHT: #cbcbcb 2px groove; PADDING-RIGHT: 1px; BORDER-TOP: #cbcbcb 2px groove; PADDING-LEFT: 2px; FONT-SIZE: 9px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cbcbcb 2px groove; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #cbcbcb 2px groove; FONT-FAMILY: lucida console,helvetica, sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #9a9a9a; TEXT-DECORATION: none
}
A#lo_but:hover {
	BACKGROUND-COLOR: #cbcbcb
}
A#lo_but:active {
	BORDER-RIGHT: #9a9a9a 2px inset; BORDER-TOP: #9a9a9a 2px inset; BORDER-LEFT: #9a9a9a 2px inset; BORDER-BOTTOM: #9a9a9a 2px inset
}
.olsHeader {
	BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
#nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #bfc9e0
}
#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #476ba2
}
#menu UL {
	CLEAR: none; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#menu UL LI {
	WIDTH: 120px; BORDER-RIGHT: #003066 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #003066 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1px; BORDER-LEFT: #003066 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #003066 1px solid; TEXT-ALIGN: center
}
#menu UL LI A {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 3px; BORDER-TOP: #798bb5 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 0.9em; BACKGROUND: #476ba2; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #798bb5 1px solid; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#menu UL LI#Tab0 {
	WIDTH: 120px
}
#menu UL LI#Tab1 {
	WIDTH: 120px
}
#menu UL LI#Tab2 {
	WIDTH: 120px
}
#menu UL LI#Tab3 {
	WIDTH: 120px
}
#menu UL LI#Tab4 {
	WIDTH: 120px
}
#menu UL LI A:hover {
	BORDER-TOP: #003066 1px solid; BACKGROUND: #003066; BORDER-LEFT: #003066 1px solid
}
#menu UL LI A:active {
	TEXT-DECORATION: underline
}
DIV#Section0 {
	BACKGROUND-COLOR: #bfc9e0
}
DIV#Section1 {
	BACKGROUND-COLOR: #bfc9e0
}
DIV#Section2 {
	BACKGROUND-COLOR: #bfc9e0
}
DIV#Section3 {
	BACKGROUND-COLOR: #bfc9e0
}
DIV#Section4 {
	BACKGROUND-COLOR: #bfc9e0
}
DIV#Section0 #menu LI#Tab0 {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV#Section1 #menu LI#Tab1 {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV#Section2 #menu LI#Tab2 {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV#Section3 #menu LI#Tab3 {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV#Section4 #menu LI#Tab4 {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV#Section0 #menu LI#Tab0 A {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; COLOR: #000; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV#Section1 #menu LI#Tab1 A {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; COLOR: #000; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV#Section2 #menu LI#Tab2 A {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; COLOR: #000; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV#Section3 #menu LI#Tab3 A {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; COLOR: #000; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV#Section4 #menu LI#Tab4 A {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #f4f4f4 1px solid; COLOR: #000; BORDER-BOTTOM: #f4f4f4 1px solid
}
#subnav {
	CLEAR: left; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN: 0px; FONT: 10px verdana, arial,sans-serif; COLOR: #003066; PADDING-TOP: 6px; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #f4f4f4
}
#subnav A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#content {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#content SPAN#title {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16px; WIDTH: 100%; BORDER-BOTTOM: white 4px solid
}
BODY#popup DIV#content P#warning {
	BORDER-RIGHT: #ff6633 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 10px 5px; BORDER-TOP: #ff6633 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 30px; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 5px; BORDER-LEFT: #ff6633 1px solid; MARGIN-RIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #ff6633 1px solid; BACKGROUND-REPEAT: no-repeat
}
#content SPAN#left_side P#warning {
	BORDER-RIGHT: #ff6633 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 10px 10px; BORDER-TOP: #ff6633 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 30px; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 5px; BORDER-LEFT: #ff6633 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff6633 1px solid; BACKGROUND-REPEAT: no-repeat
}
#content P#warning {
	BORDER-RIGHT: #ff6633 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 10px 5px; BORDER-TOP: #ff6633 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 30px; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 5px; BORDER-LEFT: #ff6633 1px solid; MARGIN-RIGHT: 35%; PADDING-TOP: 5px; BORDER-BOTTOM: #ff6633 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffff
}
#content P#cawarning {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 7px 4px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: ; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; COLOR: #ff6633; MARGIN-RIGHT: 35%; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.securityNote {
	BORDER-RIGHT: #ff6633 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 10px 5px; BORDER-TOP: #ff6633 1px solid; PADDING-LEFT: 30px; FONT-SIZE: 10px; FLOAT: left; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 5px; MARGIN-LEFT: 15px; BORDER-LEFT: #ff6633 1px solid; WIDTH: 200px; PADDING-TOP: 5px; BORDER-BOTTOM: #ff6633 1px solid; BACKGROUND-REPEAT: no-repeat
}
#content DIV#blurb {
	DISPLAY: block; WIDTH: 100%; BORDER-BOTTOM: white 10px solid
}
#content SPAN#left_side {
	DISPLAY: inline; FLOAT: left; WIDTH: 69%
}
#right_top {
	PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; WIDTH: 30%; TEXT-ALIGN: right
}
#content SPAN#right_side {
	DISPLAY: inline; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 29%; TEXT-ALIGN: right
}
#page_help {
	DISPLAY: block; BORDER-BOTTOM: white 8px solid; TEXT-ALIGN: right
}
#page_help A {
	FONT-SIZE: 10px
}
#page_help A.ph {
	PADDING-RIGHT: 3px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 12px; PADDING-TOP: 4px; BACKGROUND-COLOR: #d7dcec
}
#page_help A.pers {
	PADDING-RIGHT: 3px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 12px; PADDING-TOP: 4px; BACKGROUND-COLOR: #e8e8e8
}
.kwdST {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 10px; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat
}
.ccData {
	DISPLAY: inline; FONT-SIZE: 10px
}
.forgotPwd {
	MARGIN-TOP: 15px; FONT-SIZE: 12px; MARGIN-LEFT: 30%; WIDTH: 400px
}
DIV.actions {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-COLOR: #bfc9e0; TEXT-ALIGN: right
}
DIV.actions#top {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: 13px 15px; PADDING-LEFT: 4px; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #bfc9e0; TEXT-ALIGN: right
}
DIV.actions#bot {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: 13px 6px; PADDING-LEFT: 4px; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #bfc9e0; TEXT-ALIGN: right
}
DIV.actions#mid {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: 14px 8px; PADDING-LEFT: 4px; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #bfc9e0; TEXT-ALIGN: right
}
DIV.actions UL {
	CLEAR: none; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
DIV.actions UL LI {
	DISPLAY: block; PADDING-LEFT: 13px; BACKGROUND-POSITION-X: left; FLOAT: left; BACKGROUND-IMAGE: ; MARGIN: 5px 0px 0px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: center
}
DIV.actions UL SPAN#outer {
	BORDER-RIGHT: #476ba2 1px solid; BORDER-TOP: #476ba2 1px solid; DISPLAY: block; BORDER-BOTTOM: #476ba2 1px solid; BACKGROUND-COLOR: #d7dbe7
}
DIV.actions UL SPAN#inner {
	BORDER-RIGHT: #a5b1d3 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; BORDER-BOTTOM: #a5b1d3 1px solid
}
DIV.actions UL LI A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: #003366; LINE-HEIGHT: 11px; PADDING-TOP: 2px; FONT-FAMILY: lucida console, helvetica, sans-serif; WHITE-SPACE: nowrap; LETTER-SPACING: 1px; FONT-VARIANT: small-caps
}
DIV.actions UL LI INPUT {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 4px; BORDER-TOP: medium none; PADDING-LEFT: 4px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: medium none; COLOR: #003366; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; FONT-FAMILY: lucida console, helvetica, sans-serif; WHITE-SPACE: nowrap; LETTER-SPACING: 1px; TOP: 0px; HEIGHT: 11px; BACKGROUND-COLOR: #d7dbe7; FONT-VARIANT: small-caps
}
DIV.actions UL LI A:hover {
	TEXT-DECORATION: none
}
DIV.layout {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px
}
.blue_box {
	BORDER-RIGHT: #bfc9e0 1px solid; BORDER-TOP: #bfc9e0 1px solid; BORDER-LEFT: #bfc9e0 1px solid; BORDER-BOTTOM: #bfc9e0 1px solid; TEXT-ALIGN: left
}
.blue_box DIV#title {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #bfc9e0
}
.blue_box DIV#subtitle {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #476ba2; PADDING-TOP: 2px; BACKGROUND-COLOR: #d7dcec
}
.blue_box DIV#body {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #ffffff
}
.news {
	TEXT-ALIGN: left
}
.news DIV#title {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.news DIV#subtitle {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.news DIV#body {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#footer {
	PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 25px 6px 6px; FONT: 10px verdana, arial, helvetica, sans-serif; COLOR: #999999; PADDING-TOP: 10px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.smallOn {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px; FONT: 9px verdana, arial, sans-serif; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #ff6633; TEXT-ALIGN: center
}
.smallOff {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px; FONT: 9px verdana, arial, sans-serif; COLOR: #000000; PADDING-TOP: 0px; BACKGROUND-COLOR: #dcdcdc; TEXT-ALIGN: center
}
.largeOff {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; WIDTH: 22px; COLOR: #333333; MARGIN-RIGHT: 10px; PADDING-TOP: 3px; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.largeOn {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; WIDTH: 22px; COLOR: #ffffff; MARGIN-RIGHT: 10px; PADDING-TOP: 3px; HEIGHT: 20px; BACKGROUND-COLOR: #ff6633
}
UL.num {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none
}
UL.num LI {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #333333; PADDING-TOP: 0px; BORDER-BOTTOM: white 4px solid; LIST-STYLE-TYPE: none
}
.helpIcon {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; FONT: bold 9px verdana, arial, sans-serif; MARGIN-LEFT: 3px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #336699; TEXT-ALIGN: center
}
H4 {
	MARGIN-TOP: 0px; DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 10px
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 10px
}
.text {
	FONT-SIZE: 12px
}
.bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.sm {
	FONT-SIZE: 10px
}
.smbold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px
}
.smRight {
	FONT-SIZE: 10px; TEXT-ALIGN: right
}
.smCenter {
	FONT-SIZE: 10px; TEXT-ALIGN: center
}
.smTop5 {
	MARGIN-TOP: 5px; FONT-SIZE: 10px
}
.foot {
	FONT-SIZE: 10px; COLOR: #999999
}
.signup {
	PADDING-RIGHT: 20px; MARGIN-TOP: 65px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: right; PADDING-BOTTOM: 5px
}
.req {
	FONT-WEIGHT: bold; COLOR: #ff6633
}
.footnote {
	MARGIN-TOP: 5px; FONT-SIZE: 10px; MARGIN-BOTTOM: 10px; COLOR: #999999
}
.jpwarning {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 9px 4px; PADDING-LEFT: 30px; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.smBlue {
	FONT-SIZE: 10px; COLOR: #476ba2
}
A {
	COLOR: #336699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6633; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff6633; TEXT-DECORATION: none
}
A.foot {
	COLOR: #999999; TEXT-DECORATION: none
}
A.foot:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.foot:active {
	COLOR: #999999; TEXT-DECORATION: none
}
A.menu {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #ff6633; TEXT-DECORATION: underline
}
A.menu:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ft {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.ft:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.ft:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.helpIcon {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.helpIcon:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.helpIcon:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.fauxLink {
	FONT-WEIGHT: bold; COLOR: #336699
}
.logo {
	FLOAT: left; TEXT-ALIGN: left
}
.logobar {
	BORDER-BOTTOM: #cccccc 1px solid
}
.logobarwhite {
	BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
.blackbar {
	HEIGHT: 24px; BACKGROUND-COLOR: #333333
}
.whitebar {
	BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 24px
}
.bluebar {
	PADDING-RIGHT: 24px; PADDING-LEFT: 87px; BACKGROUND-COLOR: #476ba2
}
.greybar {
	BACKGROUND-COLOR: #e8e8e8
}
.extraLinks {
	PADDING-RIGHT: 24px; PADDING-LEFT: 87px
}
.loginFootnote {
	PADDING-LEFT: 325px; FONT-SIZE: 10px; COLOR: #999999; PADDING-TOP: 5px
}
.loginFooter {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #999999; PADDING-TOP: 5px; BACKGROUND-COLOR: #f4f4f4
}
.loginBox {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; WIDTH: 400px; PADDING-TOP: 15px; BACKGROUND-COLOR: #e8e8e8
}
.bridgeBox {
	PADDING-RIGHT: 25px; MARGIN-TOP: 5px; PADDING-LEFT: 25px; FONT-SIZE: 10px; PADDING-BOTTOM: 25px; COLOR: #333333; PADDING-TOP: 25px; BACKGROUND-COLOR: #dcdcdc
}
.selectCountry {
	FLOAT: left; MARGIN-RIGHT: 30px
}
.countryBox {
	FLOAT: left
}
.checkBox {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: auto; LINE-HEIGHT: 8px; MARGIN-RIGHT: 20px
}
.checkBoxUS {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: auto; LINE-HEIGHT: 8px
}
.continue {
	MARGIN-TOP: 5px; FLOAT: right
}
.categoryBox {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; COLOR: #333333; PADDING-TOP: 10px; BORDER-BOTTOM: white 2px solid; BACKGROUND-COLOR: #dcdcdc
}
.stst {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; COLOR: #333333; PADDING-TOP: 10px; BACKGROUND-COLOR: #e8e8e8; TEXT-ALIGN: left
}
.enterKwd {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; COLOR: #333333; PADDING-TOP: 10px; BACKGROUND-COLOR: #dcdcdc
}
P {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 0px
}
.addListEnterKwd {
	BORDER-LEFT: white 2px solid; WIDTH: 45%; BACKGROUND-COLOR: #dcdcdc
}
.addListSTST {
	VERTICAL-ALIGN: top; WIDTH: 55%; BACKGROUND-COLOR: #e8e8e8
}
.wizNums {
	FLOAT: right; VERTICAL-ALIGN: top; HEIGHT: 30px
}
.pageSteps {
	MARGIN-TOP: 10px; FONT-SIZE: 10px; COLOR: #333333
}
.helpBox {
	FLOAT: right; MARGIN-BOTTOM: 15px; MARGIN-LEFT: 25px; WIDTH: 400px
}
.ftHelpBox {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; COLOR: #ffffff; PADDING-TOP: 8px; BORDER-BOTTOM: white 2px solid; BACKGROUND-COLOR: #476ba2
}
.pageHelp {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999999 1px solid
}
.helpLinks {
	MARGIN-LEFT: 19px
}
.infoField {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; WIDTH: 700px; PADDING-TOP: 10px; BACKGROUND-COLOR: #dcdcdc
}
.infoField DIV.row {
	MARGIN-TOP: 15px
}
.infoField DIV.row DIV.fields {
	FLOAT: right; WIDTH: 385px
}
TABLE.topBids {
	BORDER-COLLAPSE: separate
}
.top5 {
	BORDER-RIGHT: #bfc9e0 1px solid
}
TD.balance {
	BORDER-TOP: black 1px solid; FONT-SIZE: 12px; PADDING-TOP: 4px
}
.printTerms {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; WIDTH: 550px; PADDING-TOP: 5px
}
.summary {
	FONT-SIZE: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 650px; BACKGROUND-COLOR: #dcdcdc
}
DIV.sumText {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
.prepay {
	MARGIN-LEFT: 10px; WIDTH: 630px; MARGIN-RIGHT: 10px; BACKGROUND-COLOR: #e8e8e8
}
.prepay DIV.row {
	PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.summary DIV.fields {
	FLOAT: right; WIDTH: 150px
}
.summary DIV.total {
	BORDER-TOP: black 2px solid; PADDING-LEFT: 4px; MARGIN-LEFT: 10px; LINE-HEIGHT: 20px; MARGIN-RIGHT: 10px
}
.summary DIV.totalValue {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FLOAT: right; WIDTH: 154px; BACKGROUND-COLOR: #ffffff
}
.billing {
	FONT-SIZE: 12px; PADDING-BOTTOM: 10px; WIDTH: 650px; BACKGROUND-COLOR: #dcdcdc
}
.billing DIV.row {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.billing DIV.fields {
	FLOAT: right; WIDTH: 350px
}
.billing #billingTable {
	DISPLAY: none
}
.billing DIV.consent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.dots {
	BORDER-TOP: black 1px dotted; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
DIV.urlEx {
	LEFT: 130px; POSITION: relative
}
.proposal {
	FONT-SIZE: 12px; PADDING-BOTTOM: 10px; WIDTH: 650px; BACKGROUND-COLOR: #dcdcdc
}
.proposal DIV.row {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px
}
.proposal DIV.fields {
	PADDING-LEFT: 10px; FLOAT: right; WIDTH: 300px
}
.proposal DIV.infoRow {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 6px; PADDING-TOP: 2px
}
.proposal DIV.infoRowTop {
	BORDER-TOP: #666666 1px solid; MARGIN: 10px 30px 0px 10px
}
.confirm {
	WIDTH: 730px
}
.confirmInfo {
	MARGIN-TOP: 10px; FONT-SIZE: 10px; MARGIN-BOTTOM: 10px; WIDTH: 500px
}
.confirmInfo DIV.row {
	PADDING-RIGHT: 4px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.confirmInfo DIV.fields {
	FLOAT: right; WIDTH: 250px
}
.confirmInfo DIV.charge {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.confirmInfo DIV.total {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.jptax {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 10px
}
.mbox {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 12px; PADDING-BOTTOM: 15px; WIDTH: 700px; PADDING-TOP: 15px; BACKGROUND-COLOR: #e6e9f5; size: 12px
}
.mbox DIV.row {
	PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px groove; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.lmBox {
	MARGIN-TOP: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.lmGrayBox {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; WIDTH: 375px; PADDING-TOP: 10px; BACKGROUND-COLOR: #dcdcdc
}
.lmGrayBox DIV.row {
	PADDING-TOP: 5px
}
.lmGrayBox DIV.fields {
	FLOAT: right
}
.lmBoxSpace {
	WIDTH: 75px; BACKGROUND-COLOR: #ffffff
}
.lmStart {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #dcdcdc
}
.locImage {
	PADDING-LEFT: 15px
}
TABLE.stTable {
	WIDTH: 100%; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
TH.stTable {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.stCheck {
	WIDTH: 20px; BACKGROUND-COLOR: #d7dcec; TEXT-ALIGN: center
}
.clickCol {
	BACKGROUND-COLOR: #d7dcec; TEXT-ALIGN: center
}
.useCheck {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; VERTICAL-ALIGN: top; WIDTH: 33%; PADDING-TOP: 5px
}
.helpBar {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 15px; COLOR: #d7dcec; PADDING-TOP: 15px; BACKGROUND-COLOR: #476ba2
}
.helpBar DIV.link {
	FONT-SIZE: 10px; FLOAT: right
}
.helpWhite {
	BACKGROUND-COLOR: #ffffff
}
.helpContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 20px; PADDING-TOP: 20px
}
.helpContent DIV.section {
	PADDING-TOP: 10px
}
A.olsNav {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.olsNav:visited {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.olsNav:hover {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
A.olsNav:active {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.print {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 7px 3px; PADDING-LEFT: 30px; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; MARGIN-RIGHT: 35%; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat
}
.topics {
	BORDER-RIGHT: #dcdcdc 1px solid; BORDER-TOP: #dcdcdc 1px solid; FONT-SIZE: 10px; FLOAT: right; BORDER-LEFT: #dcdcdc 1px solid; COLOR: #999999; BORDER-BOTTOM: #dcdcdc 1px solid
}
.topics DIV.header {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #999999; PADDING-TOP: 2px; BACKGROUND-COLOR: #dcdcdc
}
.topics DIV.content {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #666666; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffffff
}
.helpGrayBox {
	BORDER-RIGHT: #cccccc 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 2px solid; MARGIN-TOP: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cccccc 2px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 2px solid; BACKGROUND-COLOR: #e8e8e8
}
.helpGrayBox DIV.image {
	FLOAT: right; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 10px
}
.ftHelpHeader {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #d7dcec
}
.ftHelpContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; PADDING-TOP: 20px
}
.ftHelpFooter {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px
}
.close {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.helpQuestion {
	BORDER-TOP: black 1px dotted; FONT-SIZE: 12px; MARGIN: 10px 0px; PADDING-TOP: 10px
}
.mto {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #e8e8e8
}
.mto DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #f4f4f4
}
.ewPad {
	MARGIN-LEFT: 20px
}
#pu_acct_bar {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 2px; HEIGHT: 22px; BACKGROUND-COLOR: #333333
}
#pu_footer {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#agentDark {
	BACKGROUND-COLOR: #c9c9d9
}
#agentLight {
	BACKGROUND-COLOR: #eeeeee
}
#agentDark TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#agentLight TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.whole {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; cell-spacing: 0; cell-padding: 0
}
.f4 {
	BORDER-RIGHT: white 1px solid; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.dc {
	BORDER-RIGHT: white 1px solid; BACKGROUND-COLOR: #dcdcdc
}
.kwd {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
DIV.tdu {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 18px; PADDING-TOP: 8px
}
DIV.tdu #help {
	FONT-WEIGHT: bold; FLOAT: right
}
TD.count {
	VERTICAL-ALIGN: top; WIDTH: 75px; BACKGROUND-COLOR: #dcdcdc
}
TD.countText {
	WIDTH: 75px; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: #dcdcdc
}
.charCount {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.charTD {
	PADDING-RIGHT: 8px; MARGIN-TOP: 22px; PADDING-LEFT: 8px; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.charDesc {
	PADDING-RIGHT: 8px; MARGIN-TOP: 17px; PADDING-LEFT: 8px; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.charTDaf {
	PADDING-RIGHT: 8px; MARGIN-TOP: 45px; PADDING-LEFT: 8px; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.charURL {
	PADDING-RIGHT: 8px; MARGIN-TOP: 51px; PADDING-LEFT: 8px; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.autoFill {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 7px 4px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.copyDown {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 7px 4px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.singleButton {
	PADDING-TOP: 5px
}
.multiButton {
	PADDING-BOTTOM: 5px
}
.previewComplete {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
.pad10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.pad5 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#preview_pane {
	WIDTH: 50%
}
DIV.abbr_listing {
	BORDER-RIGHT: #b4d0dc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #b4d0dc 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; BORDER-LEFT: #b4d0dc 1px solid; WIDTH: 200px; COLOR: #6f6f6f; PADDING-TOP: 8px; BORDER-BOTTOM: #b4d0dc 1px solid; HEIGHT: 88px; BACKGROUND-COLOR: #ecf8ff; TEXT-ALIGN: left
}
#abbr_listing:unknown {
	FONT-SIZE: 12px
}
TABLE.reports {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 60%; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: separate; BACKGROUND-COLOR: #788bb5; border-spacing: 1px
}
TABLE.report-panel {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: separate; BACKGROUND-COLOR: #f4f4f4; border-spacing: 0px
}
TABLE.cb {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; BORDER-LEFT: 0px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: separate; BACKGROUND-COLOR: #cbcbcb; border-spacing: 0px
}
TABLE.blacktop {
	WIDTH: 100%; COLOR: #ffffff; BACKGROUND-COLOR: #000000
}
TABLE.bluetop {
	WIDTH: 100%; BACKGROUND-COLOR: #a1b2d1
}
TABLE.grey {
	WIDTH: 100%; BACKGROUND-COLOR: #e8e8e8
}
TABLE.darkgrey {
	WIDTH: 100%; BACKGROUND-COLOR: #dcdcdc
}
TABLE.darkgreyborder {
	MARGIN: 1px; WIDTH: 100%; BACKGROUND-COLOR: #999999
}
TABLE.padltgrey {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; WIDTH: 100%; PADDING-TOP: 7px; BACKGROUND-COLOR: #f4f4f4
}
TABLE.padmedgrey {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; WIDTH: 100%; PADDING-TOP: 7px; BACKGROUND-COLOR: #e8e8e8
}
TABLE.padgrey {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; WIDTH: 100%; PADDING-TOP: 7px; BACKGROUND-COLOR: #dcdcdc
}
TABLE.help {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #d7dcec
}
TABLE.ltgrey {
	WIDTH: 100%; BACKGROUND-COLOR: #cccccc
}
TABLE.stTable {
	BACKGROUND-COLOR: #cccccc
}
.clickColumn {
	BACKGROUND-COLOR: #d7dcec; TEXT-ALIGN: center
}
TH {
	FONT-SIZE: 10px; COLOR: #333333; BACKGROUND-COLOR: #e8e8e8; TEXT-ALIGN: center
}
TH.sorted A {
	BACKGROUND-POSITION: right 50%; DISPLAY: block; WIDTH: 100%
}
TH.sortable A {
	BACKGROUND-POSITION: right 50%; DISPLAY: block; WIDTH: 100%
}
TH.sortable A {
	BACKGROUND-IMAGE: url("images/arrow_off.gif")
}
TH.order1 A {
	BACKGROUND-IMAGE: url("images/arrow_down.gif")
}
TH.order2 A {
	BACKGROUND-IMAGE: url("images/arrow_up.gif")
}
TH.sugg {
	FONT-SIZE: 10px; COLOR: #ffffff; BACKGROUND-COLOR: #476ba2; TEXT-ALIGN: center
}
TH.blank {
	BACKGROUND-COLOR: #bfc9e0
}
TH.adminSr {
	COLOR: #000000; BACKGROUND-COLOR: #0066cc
}
TR.white {
	BACKGROUND-COLOR: #ffffff
}
TD.white {
	BACKGROUND-COLOR: #ffffff
}
TD.lightblue {
	BACKGROUND-COLOR: #d7dbeb
}
TD.errorLogin {
	PADDING-LEFT: 18px; FONT-SIZE: 10px; COLOR: #ff6633; PADDING-TOP: 20px
}
TD.header {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; BACKGROUND-COLOR: #e8e8e8; TEXT-ALIGN: center
}
TD.top5 {
	WIDTH: 20px; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.centered {
	BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.elev {
	FONT-SIZE: 11px; COLOR: #333333
}
TD.elevbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333
}
TD.elevboldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff
}
TD.spacer {
	WIDTH: 10px
}
TD.acctBoxSpacer {
	HEIGHT: 135px
}
TD.top-left {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
TD.top-right {
	VERTICAL-ALIGN: top; TEXT-ALIGN: right
}
TD.top-center {
	VERTICAL-ALIGN: top; TEXT-ALIGN: center
}
TD.mid-right {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: right
}
TD.mid-center {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
TD.top-left-alert {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; COLOR: #ff6633; TEXT-ALIGN: left
}
TABLE.acct_stat TD.r {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; WIDTH: 25%; COLOR: #333333
}
TD.smboldblue {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #476ba2
}
TD.sm-white-right {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
TABLE.acct_stat TD.l {
	FONT-SIZE: 10px; WIDTH: 75%; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
TD.sm-white-center {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.checkbox {
	WIDTH: 30px; BACKGROUND-COLOR: #bfc9e0; TEXT-ALIGN: center
}
TD.sm-white {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ffffff
}
TD.sm-grey-right {
	FONT-SIZE: 10px; WIDTH: 70%; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: right
}
TD.sm-grey {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #f4f4f4
}
TD.bar {
	HEIGHT: 22px; BACKGROUND-COLOR: #333333
}
TD.sm-bar {
	HEIGHT: 1px; BACKGROUND-COLOR: #cccccc
}
TD.sm-vert-space {
	HEIGHT: 2px
}
TD.vert-space {
	HEIGHT: 10px
}
TD.sm-hrz-space {
	WIDTH: 1px
}
TD.smpadleft {
	PADDING-LEFT: 10px; FONT-SIZE: 10px; COLOR: #333333
}
TD.smpadright {
	PADDING-RIGHT: 10px; FONT-SIZE: 10px; COLOR: #333333; TEXT-ALIGN: right
}
TD.smpad {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; COLOR: #333333; PADDING-TOP: 10px
}
TD.smpadleft30 {
	PADDING-LEFT: 30px; FONT-SIZE: 10px; COLOR: #333333
}
TD.loginfoot {
	PADDING-LEFT: 18px; FONT-SIZE: 10px; COLOR: #999999; PADDING-TOP: 5px
}
.searchText {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #dcdcdc
}
.searchPanel {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: left
}
.categoryText {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
.categoryDrop {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #e8e8e8; TEXT-ALIGN: left
}
TD.textblue {
	FONT-SIZE: 12px; COLOR: #003366
}
TD.stats {
	BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: center
}
TD.ltgrey {
	BACKGROUND-COLOR: #f4f4f4
}
TD.grey {
	BACKGROUND-COLOR: #e8e8e8
}
TD.medgrey {
	COLOR: #666666; BACKGROUND-COLOR: #cccccc
}
TD.sm-medgrey {
	FONT-SIZE: 10px; COLOR: #666666
}
TD.darkgrey {
	COLOR: #dcdcdc; BACKGROUND-COLOR: #999999
}
TD.minmaxbid {
	BACKGROUND-COLOR: #bfc9e0; TEXT-ALIGN: center
}
TD.textBot5 {
	FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #333333; FONT-FAMILY: verdana,arial,sans-serif
}
TD.textBot10 {
	FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #333333; FONT-FAMILY: verdana,arial,sans-serif
}
TD.textTopBot10 {
	FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #333333; PADDING-TOP: 10px; FONT-FAMILY: verdana,arial,sans-serif
}
TD.textBot5Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #333333; FONT-FAMILY: verdana,arial,sans-serif
}
TD.smallBot5 {
	FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #333333; FONT-FAMILY: verdana,arial,sans-serif
}
TD.smallBot5Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #333333; FONT-FAMILY: verdana,arial,sans-serif
}
TD.smallBot10 {
	FONT-SIZE: 10px; PADDING-BOTTOM: 10px; COLOR: #333333; FONT-FAMILY: verdana,arial,sans-serif
}
TD.smallBot20 {
	FONT-SIZE: 10px; PADDING-BOTTOM: 20px; COLOR: #333333; FONT-FAMILY: verdana,arial,sans-serif
}
FORM {
	DISPLAY: inline; MARGIN-BOTTOM: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
DIV.exportlinks {
	BORDER-RIGHT: #999 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #999 1px dotted; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 10px; BORDER-LEFT: #999 1px dotted; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px dotted; BACKGROUND-COLOR: #eee
}
SPAN.export {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 20px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 0px
}
SPAN.excel {
	BACKGROUND-IMAGE: url("images/icons/ico_file_excel.png")
}
SPAN.csv {
	BACKGROUND-IMAGE: url("images/icons/ico_file_csv.png")
}
SPAN.xml {
	BACKGROUND-IMAGE: url("images/icons/ico_file_xml.png")
}
SPAN.pagebanner {
	BORDER-RIGHT: #999 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #999 1px dotted; MARGIN-TOP: 10px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #999 1px dotted; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #eee
}
SPAN.pagelinks {
	BORDER-RIGHT: #999 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: medium none; DISPLAY: block; PADDING-LEFT: 4px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #999 1px dotted; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px dotted; BACKGROUND-COLOR: #eee
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff6633
}
SPAN.info {
	FONT-WEIGHT: bold
}
SPAN.title {
	FONT-SIZE: large
}
TD.warning-mess {
	BORDER-RIGHT: #ff6633 1px solid; PADDING-RIGHT: 2px; BACKGROUND-POSITION: 5px 50%; BORDER-TOP: #ff6633 1px solid; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url("images/warn.gif"); PADDING-BOTTOM: 5px; BORDER-LEFT: #ff6633 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff6633 1px solid; BACKGROUND-REPEAT: no-repeat
}
SPAN.warning-mess {
	BORDER-RIGHT: #ff6633 1px solid; PADDING-RIGHT: 2px; BACKGROUND-POSITION: 5px 50%; BORDER-TOP: #ff6633 1px solid; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url("images/warn.gif"); PADDING-BOTTOM: 5px; BORDER-LEFT: #ff6633 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff6633 1px solid; BACKGROUND-REPEAT: no-repeat
}
TD.ongletTextEna {
	BORDER-RIGHT: #80add6 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #80add6 2px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #80add6 2px solid; WIDTH: 250px; COLOR: #005386; PADDING-TOP: 5px; BORDER-BOTTOM: medium none; FONT-FAMILY: verdana; BACKGROUND-COLOR: #bfc9e0; TEXT-ALIGN: center
}
A.ongletTextEna:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.ongletTextDis:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
TD.ongletTextDis {
	BORDER-RIGHT: #c5c5c5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c5c5c5 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #c5c5c5 1px solid; WIDTH: 250px; COLOR: #80add6; PADDING-TOP: 5px; BORDER-BOTTOM: #80add6 2px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #d7dcec; TEXT-ALIGN: center
}
.ongletTextErr {
	BORDER-RIGHT: #c5c5c5 1px solid; BORDER-TOP: #c5c5c5 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #c5c5c5 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #80add6 2px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ed4f50; TEXT-ALIGN: center
}
TD.ongletMiddle {
	BORDER-RIGHT: #80add6 2px solid; BORDER-TOP: medium none; BORDER-LEFT: #80add6 2px solid; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #bfc9e0
}
.ongletSpace {
	BORDER-BOTTOM: #80add6 2px solid
}
.ongletMain {
	BORDER-RIGHT: #80add6 2px solid; BORDER-TOP: medium none; BORDER-LEFT: #80add6 2px solid; BORDER-BOTTOM: #80add6 2px solid; BACKGROUND-COLOR: #bfc9e0
}
DIV.numSteps {
	PADDING-RIGHT: 3px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; BACKGROUND-COLOR: #d7dcec
}
DIV.submit {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #d7dcec; TEXT-ALIGN: center
}

