<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Contensive.CPBaseClass" version="22.2.11.2" targetFramework="net472" />
  <package id="Contensive.DbModels" version="22.2.11.2" targetFramework="net472" />
  <package id="Contensive.PortalApi" version="21.11.11.1" targetFramework="net472" />
</packages>