<html lang="en"><head><title>Contact Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- --------------------------------------------------------- -->
<!-- Replacements -->
<!-- ##Tab0##...##Tab4## -->
<!-- Section0 - chagne the digit to the current sections -->
<!-- ##SubNav## -->
<!-- ##QueryString## - RefreshQueryString, not empty, no "TAB" -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Sample SubNav -->
<!-- <nobr><b>SubTab0</b></nobr>|<nobr><a href="ContactManager.htm?subtab=0">SubTab1</a></nobr>|<nobr><a href="ContactManager.htm?subtab=0">SubTab2</a></nobr>|<nobr><a href="ContactManager.htm?subtab=0">Change Password</a></nobr>|<nobr><a href="ContactManager.htm?subtab=0">SubTab0</a></nobr>|<nobr><a href="ContactManager.htm?subtab=0">SubTab0</a></nobr> -->
<!-- --------------------------------------------------------- -->
</head>
<body>
<!-- ContactManager:Start -->
<link href="/ccLib/Styles/ccTabs.css" type="text/css" rel="stylesheet">
<div id="header">
<div id="logo_bar"></div>
<div id="Section0">
<div id="nav">
<div id="menu"><ul>
  <li id="tab0"><a href="?##QueryString##&tab=0">Selection</a></li>
  <li id="tab1"><a href="?##QueryString##&tab=1">People</a></li>
  <li id="tab2"><a href="?##QueryString##&tab=2">Email</a></li>
  <!-- <li id="tab3"><a href="?##QueryString##&tab=3"></a></li> -->
  <!-- <li id="tab4"><a href="?##QueryString##&tab=4">Tab4</a></li> -->
  </ul></div>
<div id=subnav></div>
</div>
</div>
</div>
##CONTENT##
<!-- ContactManager:End -->
</body></html>

