
<!-- Automated Replacements -->
<!-- ContactManager_GroupForm- Field Name -->
<!-- ContactManager_PeopleForm- Field Name -->
<html>
<head>
<title>Contact Manager</title>
</head>

<body class="ccPanel" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<!-- ContactManager:Start -->
<script type="text/javascript" src="http://alpha.contensive.com/ccLib/ClientSide/core.js"></script>
<script language="JavaScript">
var numRows;
var numCols;
//var callerArgObj;
//var callerWindowObj;
//var callerFieldName;
var initialized = 0;
var topAndBottomBarHeight = 50;
var ActiveTabName = 'TabGroups';

function init() {
	if (initialized == 0) {
		// alert('init');
		initialized  = 1;
		//callerArgObj = dialogArguments;
		//callerWindowObj = callerArgObj.win;
		//callerFieldName = callerArgObj.fieldName;
		}
	}

function switchTab(TabName, tabElement, tabIndex) {

	var i;
	var newIndex;
	var oldIndex;
	//
	init();
	// alert('tab from '+ActiveTabName+' to '+TabName );
	ActiveTabName=TabName;
	//
	var tabLinks = document.getElementsByName("tabLink");

	// this is the way we can control it from outside
	if (tabIndex != -1) {
		tabElement = tabLinks[tabIndex];
	}
	
	for (i = 0; i < tabLinks.length; i++) {
		if (tabLinks[i] != tabElement) {
			tabLinks[i].className = "ccPanel ccTab ccTabHidden";
			tabLinks[i].blur();
		}
		else {
			tabLinks[i].className = "ccPanel ccTab";
			tabLinks[i].blur();
		}
	}
	var tab = document.getElementById(TabName);
	var tabs = document.getElementsByTagName("DIV");

	// this is the way we can control it from outside
	if (tabIndex != -1) {
		tab = tabs[tabIndex];
	}

	for (i = 0; i < tabs.length; i++) {
		if (tabs[i] != tab) {
			if (tabs[i].style.visibility = "visible") {
				oldIndex = i;
			}
			tabs[i].style.visibility = "hidden";
		}
		else {
			newIndex = i;
			if (tabs[i].style.visibility == "visible") {
				return;
			}
			tabs[i].style.visibility = "visible";
		}
	}
	
	tabs[newIndex].style.top = getPageOffsetTop(tabs[oldIndex]);
	//alert('oldIndex='+oldIndex)
	//alert('old width='+tabs[oldIndex].style.width)
	tabs[newIndex].style.width = tabs[oldIndex].scrollWidth;
	//tabs[newIndex].style.width = '100px';
	//alert('old right value='+tabs[oldIndex].scrollWidth)

	if (browser.isIE) {
		//tabs[newIndex].style.left = getPageOffsetLeft(tabs[oldIndex])+1;
	} else {
		//tabs[newIndex].style.left = getPageOffsetLeft(tabs[oldIndex]);
	}

}

function getInfoAndUpdate(){
	alert( 'save' );
}

function closeFunction() {
	window.close();
}
</script>
<style>

.ccTab {
	height: 23px; 
	text-decoration: none; 
	text-align: center; 
	padding-top: 3px;
	padding-bottom: 5px;
	border-top: 1px solid #E5E2E2; 
	border-right: 1px solid #9C9A9A; 
	border-left: 1px solid #E5E2E2;
	background-color: #FFFFFF;
	color: #000000;
	font-weight: normal;
	}
.ccTabHidden { 
	height: 20px; 
	font-weight: normal;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: 1px solid #E5E2E2; 
	border-right: 1px solid #9C9A9A; 
	border-left: 1px solid #E5E2E2;
	border-bottom: 1px solid #E5E2E2; 
	background-color: #C0C0C0;
	color: #404040;
	}
.ccTabSpacer { 
	padding-bottom: 5px;
	width: 5px; 
	height: 25px; 
	padding-top: 5px; 
	border-bottom: 1px solid #E5E2E2;}
.ccTabFiller { 
	padding-bottom: 5px;
	width: 100%; 
	height: 25px; 
	padding-top: 5px; 
	border-bottom: 1px solid #E5E2E2;}

</style>
<TABLE border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#808080">
<TR><TD><img src="/ccLib/images/spacer.gif" height="5" width="100%"></TD></TR>
<TR id="tabRow"><TD height="23"><nobr><!--
--><span class="ccTabSpacer">&nbsp;</span><a class="ccPanel ccTab" href="#" name="tabLink" onClick="switchTab('TabGroups', this, -1); return false;">&nbsp;&nbsp;&nbsp;&nbsp;Groups&nbsp;&nbsp;&nbsp;&nbsp;</a><!--
--><span class="ccTabSpacer">&nbsp;</span><a class="ccPanel ccTab ccTabHidden" href="#" name="tabLink" onClick="switchTab('TabPeople', this, -1); return false;">&nbsp;&nbsp;&nbsp;&nbsp;People&nbsp;&nbsp;&nbsp;&nbsp;</a><!--
--><span class="ccTabFiller">&nbsp;</span><!--
--></nobr></TD></TR>
<TR><TD><!--
--><TABLE id="wholeTable" border="0" cellpadding="0" cellspacing="0" width="100%" class="ccPanel">
<TR>
<TD width="100%" height="300" valign="top" align="left" style="height: 300px; border-right: 1px solid #000000; border-left: 1px solid #000000;border-bottom: 1px solid #000000;">

<!-- TabGroups -->

<div id="TabGroups" style="visibility:visible;"><TABLE border="0" cellpadding="20" cellspacing="0" width="100%" class="ccPanel">
<tr><td width="100%" align="left">ContactManager_GroupForm</td></tr>
</TABLE></div>

<!-- TabPeople -->

<!-- <div id="TabPeople" style="visibility:hidden; position: absolute; "><TABLE border="0" cellpadding="20" cellspacing="0" width="100%" class="ccPanel"> -->

<div id="TabPeople" style="visibility:hidden; position: absolute;"><TABLE border="0" cellpadding="20" cellspacing="0" width="100%" class="ccPanel">
<tr><td width="100%" align="left">ContactManager_PeopleForm</td></tr>
</TABLE></div>

</TD></TR></TABLE>

<!-- Button section -->

<TABLE id="buttonTable" border="0" cellpadding="0" cellspacing="0" width="100%" class="ccPanelButtons">
<TR><TD colspan="3" class="ccPanelShadow"><IMG alt="" src="/ccLib/Images/spacer.gif" height="1" width="100%" /></TD></TR><TR><TD width="1" height="1" class="ccPanelShadow"><IMG alt="" src="/ccLib/Images/spacer.gif" height="1" width="1" /></TD><TD width="100%" valign="top" align="left"><TABLE border="0" cellpadding="3" cellspacing="0" width="100%" class="ccPanelButtons"><TR>
<TD valign="top">
<INPUT Type="Button" Value="  Apply  " onclick="getInfoAndUpdate();">
<INPUT Type="Button" Value="  OK  " onclick="getInfoAndUpdate();closeFunction();">
<INPUT Type="Button" Value="  Cancel  " onclick="closeFunction();">
</TD></TR></TABLE>
</TD></TR></TABLE>
</TD></TR></TABLE>     
<!-- ContactManager:End -->
</body></html>
<!--<iFrame src="http://www.contensive.com" width="100%" height="260" frameborder=0 align=left ></iFrame>-->


